HELP.md
build/
!**/src/main/**/build/
!**/src/test/**/build/
*.env
*keystore.p12
### Gradle ###
#Spring Boot Gradle Files
!gradle/wrapper/gradle-wrapper.jar
.gradle
#Docker Gradle files
/Backend/.tmp
/Backend/caches
/Backend/daemon
/Backend/native
/Backend/notifications
/Backend/wrapper
### STS ###
/Backend/.apt_generated
/Backend/.classpath
/Backend/.factorypath
/Backend/.project
/Backend/.settings
/Backend/.springBeans
/Backend/.sts4-cache
/Backend/bin/
/Backend/!**/src/main/**/bin/
/Backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
/Backend/.idea
/Backend/*.iws
/Backend/*.iml
/Backend/*.ipr
/Backend/out/
/Backend/!**/src/main/**/out/
/Backend/!**/src/test/**/out/

### NetBeans ###
/Backend/nbproject/private/
/Backend/nbbuild/
/Backend/dist/
/Backend/nbdist/
/Backend/.nb-gradle/

# Logs
/Frontend/logs
/Frontend/*.log
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
/Frontend/pnpm-debug.log*
/Frontend/*lerna-debug.log*

/Frontend/node_modules/
/Frontend/dist
/Frontend/dist-ssr
/Frontend/*.local

# Editor directories and files
*.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
