@import url('Variables.css');

#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
  background: radial-gradient(at center, var(--secondary-color), var(--primary-color));
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  margin: 0px 10px 10px 10px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
}