/**CSS Style for Login and SignUp pages*/
@import url('Variables.css');

.headline {
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--primary-text-color);
  font-weight: 600;
}

.register-container {
  height: 100%; 
  width: 25%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #e5e7eb;
  background: var(--tertiary-color);
  border-radius: 8px;
}

.register-container h1 {
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 1.5rem;
}

.register-form .form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.register-form label {
  display: block;
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}

.register-form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: var(--button-primary-color);
  color: var(--primary-text-color);
  font-size: 1rem;
}

.submit-btn:hover {
  background:  var(--button-secondary-color);
  border: 1px solid #d1d5db;
  transition: border-color 0.25s;
}

.hint {
  text-align: center;
  margin-top: 1rem;
  color: var(--primary-text-color);
}

.hint a {
  color: var(--button-primary-color);
  text-decoration: none;
}

.hint a:hover {
  color: var(--button-secondary-color);
  text-decoration: underline;
}

.form-error{
  background: var(--error-background-color);
  border-radius: 6px;
}

.form-error .error-message{
  color: var(--primary-text-color);
  font-weight: 600;
  padding: 0.25rem;
  display: inline-flex;
}