@import url('Variables.css');

header {
  display: flex;
  background: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.topics-list {
  display: flex;
}

.secondary-text {
  color: var(--primary-text-color);
  font-weight: 600;
}

.topics-container {
  width: 80px;
  align-content: center;
  border-right: 1px solid var(--border-color);
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: bold;
  /**Deactivate "I" symbol if cursor over text*/
  cursor: pointer;
}

.topics-container p {
  margin: 0;
  padding: 10px;
}

.topics-container:hover {
  background: var(--secondary-background-hover-color);
}

.profile-container {
  padding: 10px;
  border-left: 1px solid var(--border-color);
  margin-left: auto;
}

.profile-container .login-buttons {
  display: flex;
   gap: 10px;
}

.profile-container .submit-btn {
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  overflow-wrap: break-word;
}